/Ecommerce/nbproject/private/
/Transportadora/TransFerroviario/nbproject/private/
/TransFerroviario/build/
/Faculdade/nbproject/private/
/SistemaAcademic/nbproject/private/
/SistemaAcademic/build/
/Ordenação/nbproject/private/
/Ordenação/build/
/Automovel/nbproject/private/
/Instituição/nbproject/private/
/Instituição/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/arquivo/nbproject/private/
/arquivo/build/
/arquivo/dist/
/Singleton/nbproject/private/
/ExSingleton/build/
/SingletonLog/nbproject/private/
/Banco/nbproject/private/
/Banco/build/
/Facade-exer/nbproject/private/
/Facade-exer/build/
/Facade-exer/dist/